@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* 往下滚动的时候动画 */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
html {
  height: 100%;
}
li {
  list-style-type: none;
}
body {
  min-height: 100vh;
  background-color: #cccccc;
  /* 滚过头的地方隐藏 */
  overflow-x: hidden;
}
body::before {
  content: "Moira's Portfolio";
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
}
/* header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2%;
  padding: 30px 100px;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  /* 放在顶层 */
  z-index: 10000;
}
header .logo {
  color: #333333;
  font-weight: 800;
  font-display: none;
  font-size: 2em;
  /* 去掉下划线 */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
}
header ul {
  /* 横着排 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header ul li {
  margin-left: 20px;
  z-index: 1;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #003366;
  z-index: 1;
}
header ul li a:hover {
  background-color: #666666;
  border-radius: 25px;
  color: #fff;
}
header ul li a.active {
  background-color: #666666;
  border-radius: 25px;
  color: #fff;
  z-index: 1;
}

/* section */
/* 连接效果 */
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #333333);
  z-index: 1000;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  /* 横向居中 */
  justify-content: center;
  /* 纵向居中 */
  align-items: center;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#star {
  /* 在最底层 */
  z-index: -3;
}
section img#rem {
  z-index: 0;
}
section img#sakura {
  z-index: -1;
}

#portfolio {
  position: absolute;
  color: #666666;
  font-size: 7.5vw;
  /* 盖在rem上面 */
  /* z-index: 0; */
  z-index: -2;
  box-shadow: #333333;
}
#btn {
  z-index: 12;
  text-decoration: none;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 40px;
  text-align: center;
  color: #003366;
  display: inline-block;
  top: 10px;
  transform: translateY(100px);
}

/* intro */
.introduction {
  position: relative;
  padding: 100px;
  /* 一页 */
  height: 100vh;
  background-color: #333333;
}
.introduction .avatar {
  display: inline-block;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.introduction img.arrow {
  display: absolute;
  width: 50px;
  height: 50px;
}
.introduction img.arrow:hover {
  content: "click to see my projects";
}
.introduction h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: white;
}
.introduction p {
  font-size: 1em;
  color: white;
}
.introduction::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 200%;
  background: linear-gradient(to top, #999933, #333333);
  z-index: 1000;
}

/* projects common*/
.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #999933;
}
.projects h2 {
  position: relative;
  font-size: 2em;
  color: white;
  padding: 10px;
  margin-bottom: 40%;
  width: 20%;
}
.projects .container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .title {
  position: absolute;
  padding: 10px;
  top: 50px;
  right: 0px;
}
.projects .card {
  background-color: black;
  position: absolute;
  top: 0;
}
.projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 200%;
  background: linear-gradient(to bottom, #999933, #000000);
  z-index: 1000;
}

/* contact */
.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}
.contact .contactBox {
  display: relative;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.contact h2 {
  color: #ffffff;
}
.contact .contactBox p {
  display: absolute;
  padding: 0.8em;
  color: #ffffff;
  font-size: 1.2em;
}
.contact .contactBox a {
  color: #ffffff;
  text-decoration: none;
}
