@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* 往下滚动的时候动画 */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
html {
  height: 100%;
}
li {
  list-style-type: none;
}
body {
  min-height: 100vh;
  background-color: #cccccc;
  /* 滚过头的地方隐藏 */
  overflow-x: hidden;
}
body::before {
  content: "Moira's Portfolio";
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255, 0.5);
}
/* header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2%;
  padding: 30px 100px;
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  /* 放在顶层 */
  z-index: 10000;
}
header .logo {
  color: #333333;
  font-weight: 800;
  font-display: none;
  font-size: 2em;
  /* 去掉下划线 */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
}
header ul {
  /* 横着排 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header ul li {
  margin-left: 20px;
  z-index: 1;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #003366;
  z-index: 1;
}
header ul li a:hover {
  background-color: #666666;
  border-radius: 25px;
  color: #fff;
}
header ul li a.active {
  background-color: #666666;
  border-radius: 25px;
  color: #fff;
  z-index: 1;
}

/* section */
/* 连接效果 */
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #333333);
  z-index: 1000;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  /* 横向居中 */
  justify-content: center;
  /* 纵向居中 */
  align-items: center;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#star {
  /* 在最底层 */
  z-index: -3;
}
section img#rem {
  z-index: 0;
}
section img#sakura {
  z-index: -1;
}

#portfolio {
  position: absolute;
  color: #666666;
  font-size: 7.5vw;
  /* 盖在rem上面 */
  /* z-index: 0; */
  z-index: -2;
  box-shadow: #333333;
}
#btn {
  z-index: 12;
  text-decoration: none;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 40px;
  text-align: center;
  color: #003366;
  display: inline-block;
  top: 10px;
  transform: translateY(100px);
}

/* intro */
.introduction {
  position: relative;
  padding: 100px;
  /* 一页 */
  height: 100vh;
  background-color: #333333;
}
.introduction .avatar {
  display: inline-block;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.introduction img.arrow {
  display: absolute;
  width: 50px;
  height: 50px;
}
.introduction img.arrow:hover {
  content: "click to see my projects";
}
.introduction h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: white;
}
.introduction p {
  font-size: 1em;
  color: white;
}
.introduction::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 200%;
  background: linear-gradient(to top, #999933, #333333);
  z-index: 1000;
}

/* projects common*/
.projects {
  position: relative;
  display: flex;
  /* display: grid; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #999933;
}
.projects .title {
  position: absolute;
  padding: 10px;
  top: 50px;
  right: 0px;
}
.projects h2 {
  position: relative;
  font-size: 2em;
  color: white;
  padding: 10px;
  margin-bottom: 40%;
  width: 20%;
}
.projects .slider {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.projects .slider .card {
  /* background: red; */
  flex: 1;
  margin: 0 10px;
}
.projects .slider .card .img {
  height: 200px;
  width: 100%;
}
.projects .slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .slider .card .content {
  padding: 10px 20px;
  background: rgb(51, 102, 153, 0.5);
  /* background: #003366; */
}
.projects .slider .card .content .projectTitle {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.projects .slider .card .content .projectType {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  line-height: 20px;
}
.projects .slider .card .content p {
  text-align: justify;
  margin: 10px 0;
}
.projects .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.projects .btn button {
  background: #333333;
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.projects .btn button:hover {
  transform: scale(0.9);
}
/* popup */
#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup1,
#popup2,
#popup3,
#popup4,
#popup5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  overflow: hidden;
  /* padding: 10px; */
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: white;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup1.active,
#popup2.active,
#popup3.active,
#popup4.active,
#popup5.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#popup1 p,
#popup2 p,
#popup3 p,
#popup4 p,
#popup5 p {
  padding: 10px;
  flex: 1;
  font-size: 1em;
  text-align: justify;
}
#popup1 .img,
#popup2 .img,
#popup3 .img,
#popup4 .img,
#popup5 .img {
  flex: 1;
  margin-top: 10px;
}
#popup1 .img img,
#popup2 .img img,
#popup3 .img img,
#popup4 .img img,
#popup5 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#popup1 button,
#popup2 button,
#popup3 button,
#popup4 button,
#popup5 button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 200%;
  background: linear-gradient(to bottom, #999933, #000000);
  z-index: 1000;
}

/* contact */
.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}
.contact .contactBox {
  display: relative;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.contact h2 {
  color: #ffffff;
}
.contact .contactBox p {
  display: absolute;
  padding: 0.8em;
  color: #ffffff;
  font-size: 1.2em;
}
.contact .contactBox a {
  color: #ffffff;
  text-decoration: none;
}
